@using BusniessLayer.Entity
@model Duty
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="AllProjectCreated">All Duties</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- [ horizontal-layout ] start -->
    <div class="col-sm-12">
        <div class="card">

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>

                            <tr class="thead-light">

                                <th>
                                    Duties Name
                                </th>
                                <th>
                                    Duty Descrption
                                </th>
                                <th>
                                    State
                                </th>
                                <th>
                                    Action
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ foreach (var item in (List<Duty>)ViewBag.DutiesList)
                                {
                                    <tr id="@item.DutyId">
                                        <td>
                                            @item.DutyName
                                        </td>
                                        <td>
                                            @item.DutyDescrption
                                        </td>

                                        @{foreach (var State in (List<State>)ViewBag.State)
                                            {
                                                if (item.StateId == State.StateId)
                                                {
                                                    if (State.StateId == 1 || State.StateId == 2)
                                                    {
                                                        <td style="color:green">
                                                            @State.StateName
                                                        </td>
                                                    }
                                                    else if (State.StateId == 3)
                                                    {
                                                        <td style="color:orange">
                                                            @State.StateName
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td style="color:red">
                                                            @State.StateName
                                                        </td>
                                                    }
                                                }
                                            }
                                        }

                                        <td>
                                            <a href="/TeamMember/WorkList?DutyId=@item.DutyId" class="btn btn-outline-info">Work</a>
                                        </td>
                                    </tr>
                                }

                            }
                        </tbody>
                        <tfoot>
                            <tr id="footerz">
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#Serachajax').on('keyup', function () {
        var search = $(this).val();

        $.ajax({
            method: 'GET',
            url: '/Duties/SearchDutiesForTeamMember',
            data: {
                Search: search

            },
            success: function (data) {
                $('tbody tr').each(function () {
                    $('#footerz').empty();
                    $(this).prop('hidden', true)
                })

                $.each(data, function (ind, vls) {
                    $('tbody tr').each(function () {
                        if (vls.dutyId == $(this).attr('id')) {
                            $('#' + $(this).attr('id')).prop('hidden', false)
                        }
                    })
                })
                if (data.length == 0) {
                    debugger
                    $('#footerz').empty();
                    $('#footerz').append('<div style="color:red" role="alert">No result are found</div >')
                }

                if ($('#Serachajax').val() == 0) {
                    $('#footerz').empty();
                    $('tbody tr').each(function () {
                        $(this).prop('hidden', false)
                    })

                }
            }

        })

    })
</script>