@model IEnumerable<BusniessLayer.Entity.Sprint>

<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="AllTeamLeaderProjects"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a asp-action="AllTeamLeaderProjects">All Project</a></li>
                    <li class="breadcrumb-item"><a asp-action="SprintList">Prject Sprints</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="Alert"></div>
<div id="Edit"> </div>
<div id="DeleteDiv"> </div>


<div class="row">

    <!-- [ horizontal-layout ] start -->
    <div class="col-sm-12">

        <div class="card">


            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>

                                <th>
                                    Name
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Start Date
                                </th>
                                <th>
                                    End Date
                                </th>
                                <th>
                                    State
                                </th>

                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{foreach (var item in Model)
                                {
                                    
                                        <tr id="@item.SprintId">
                                            <td>
                                                @item.SprintName
                                            </td>
                                            <td>
                                                @item.sprintDescrption
                                            </td>
                                            <td>
                                                @item.StartDate
                                            </td>
                                            <td>
                                                @item.EndDate
                                            </td>

                                           
                                                        @if (item.StateId == 1 || item.StateId == 2)
                                                           {
                                                        <td style="color:green">
                                                            <span class="badge badge-success">Completed</span>

                                                        </td>
                                                        }
                                                        else if (item.StateId == 3)
                                                        {
                                                        <td style="color:orange">
                                                            <span class="badge badge-warning">Pending</span>

                                                        </td>
                                                        }
                                                        else
                                                        {
                                                            <td style="color:red">
                                                                <span class="badge badge-danger">Rejected</span>

                                                            </td>

                                                        }
                                           
                                            @if (item.Project.StateId != 1)
                                                {
                                            <td>
                                                <button class="btn btn-danger btndelete" value="@item.SprintId">Delete</button>
                                                <button class="btn btn-success" onclick="EditSprint('@item.SprintId')">Edit</button>
                                                <a href="/TeamLeader/DutyList?SprintId=@item.SprintId" class="btn btn-outline-info">Duties</a>
                                            </td>
                                            }
                                                else
                                                {
                                                <td>Done</td>
                                                }
                                        </tr>
                                    }
                                    
                                }
                            
                        </tbody>
                        <tfoot>
                            <tr id="footerz"></tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModelDone" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
        Content
        <div class="modal-content text-center">

            <div class="modal-header d-flex justify-content-center">
                <p class="heading">Be always up to date</p>
            </div>

            <div class="modal-body">
                <i class="fas fa-bell fa-4x animated rotateIn mb-4"></i>
                <p>Are you sure to submite all duties?</p>
            </div>

            <div class="modal-footer flex-center">
                <a class="btn btn-outline-warning" data-dismiss="modal">close</a>
                <a id="DutyDone" class="btn btn-warning" data-dismiss="modal">Yes</a>
            </div>
        </div>
    </div>
</div>
<div id="RemoveMoadl" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Remove</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this sprint..?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn  btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn  btn-danger" id="removeSend">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $(".btndelete").click(function () {
            var x = $(this).val();
            debugger;
            $('#RemoveMoadl').modal("show");
            $("#RemoveMoadl").appendTo('#DeleteDiv');

            $('#removeSend').click(function () {
                $.ajax({
                    method: 'POST',
                    url: '/TeamLeader/DeleteSprint?SprintId=' + x,
                    success: function () {
                        debugger;
                        window.location.reload();
                    }
                })
            })
        })

    })


</script>
<script>
    $("#DutyDone").click(function () {
        var Pid =@ViewBag.ProjectId;
        $.ajax({
            method: 'GET',
            url: '/TeamLeader/SprintDone',
            data: { ProjectId: Pid },
            success: function () {
                $("#Alert").append('<div class="alert alert-warning" role="alert" style="color:black">Sprint Submited Succssesfuly</div >')
            }
        })
    })
</script>
<script>
    EditSprint = function (sprintId) {
        var url = '/TeamLeader/SprintEdit?SprintId=' + sprintId;
        $('#Edit').load(url, function () {
            $('#EditModal').modal('show')
        })
    }
</script>

<script>
    $('#Serachajax').on('keyup', function () {
        var search = $(this).val();
        var pid= @ViewBag.ProjectId
        $.ajax({
            method: 'GET',
            url: '/Sprint/SprintSearchByProjectId',
            data: {
                Search: search,
                ProjectId:pid
            },
            success: function (data) {
                $('tbody tr').each(function () {
                    $('#footerz').empty();
                    $(this).prop('hidden', true)
                })

                $.each(data, function (ind, vls) {
                    $('tbody tr').each(function () {
                        if (vls.sprintId == $(this).attr('id')) {
                            $('#' + $(this).attr('id') ).prop('hidden', false)
                        }
                    })
                })
                if (data.length == 0) {
                    debugger
                    $('#footerz').empty();
                    $('#footerz').append('<div style="color:red" role="alert">No result are found</div >')
                }

                if ($('#Serachajax').val() == 0) {
                    $('#footerz').empty();
                    $('tbody tr').each(function () {
                        $(this).prop('hidden', false)
                    })

                }
            }

        })

    })
</script>