@using BusniessLayer.Entity
@model Member
@{
    Layout = "DefaultLayout";
}
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="AllProjectCreated">AllProject</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<p>
    <a asp-action="InsertNewProject" class="btn btn-info">Create New Project</a>
</p>
<div class="row">
    <!-- [ horizontal-layout ] start -->
    <div class="col-xl-12 col-lg-12 col-sm-12 col-md-12 col-12  ">
        <div class="card">
            <div id="Edit"></div>
            <div class="card-body">
                <div class="table-responsive">

                    <table class="table  ">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Deadline
                                </th>
                                <th>
                                    Project Members
                                </th>
                                <th>
                                    State
                                </th>
                                <th>
                                    Action
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in (List<ProjectMembers>)ViewBag.AllProject)
                            {
                                <tr id="@item.ProjectId">
                                    <td>
                                        @item.Project.ProjectName
                                    </td>
                                    <td>
                                        @if (item.Project.DeadLine < DateTime.Now && item.Project.StateId !=1)
                                        {
                                        <span class="text-danger"> @item.Project.DeadLine time is over</span>

                                        }
                                        else
                                            @item.Project.DeadLine
                                    </td>
                                    <td>
                                        <select class="js-example-basic-multiple ">

                                            @{ foreach (var x in ViewBag.ProjectMemberLeader)
                                                {
                                                    if (item.Project.ProjectId == x.ProjectId)
                                                    {
                                                        if (x.RoleName == "Teamleader")
                                                        {
                                                            <option value="x.Id">TeamLeader @x.UserName</option>
                                                        }
                                                        else if (x.RoleName == "ProjectManger") { continue; }
                                                        else
                                                        {
                                                            <option value="x.Id">@x.UserName</option>
                                                        }
                                                    }
                                                }

                                            }
                                        </select>
                                    </td>

                                    @if (item.Project.StateId == 1)
                                    {

                                        <td>
                                            <span class="badge badge-success">Completed</span>
                                        </td>
                                    }
                                    else if (item.Project.StateId == 3)
                                    {
                                        <td>
                                            <span class="badge badge-warning">Pending</span>
                                        </td>
                                    }
                                    else if (item.Project.StateId == 4)
                                    {
                                        <td>
                                            <span class="badge badge-danger">Rejected</span>
                                        </td>
                                    }

                                    <td>
                                        <button type="button" onclick="EditProject('@item.ProjectId')" class="btn  btn-success">Edit</button>

                                        <button data-toggle="modal" data-target="#exampleModalLive" type="button" class="btn  btn-danger Deleted"
                                                onclick="ReomvePorject('@item.ProjectId', '@item.Project.ProjectName')">
                                            Delete
                                        </button>
                                        <a href="/ProjectManger/ProjectView?ProjectId=@item.ProjectId" class="btn  btn-outline-info">View</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr id="footerz">
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@if (TempData["success"] != null)
{
    <script>
        $(document).ready(function () {
            SuccsesMessage("Project")

        })
    </script>
}
@if (TempData["Remove"] != null)
{
    <script>

        $(document).ready(function () {
            RemoveFunction("Project");
        })
    </script>

}
@if (TempData["Edit"] != null)
{
    <script>
        $(document).ready(function () {
            EditMessage("Project")

        })
    </script>
}
<div id="exampleModalLive" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLiveLabel">Remove Project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p class="mb-0">Are you sure you want to delete this project..!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn  btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn  btn-danger" id="ProjectId">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        ReomvePorject = function (ProjectId,PName) {

            $("#ProjectId").click(function () {

                $.ajax({
                    method: 'POST',
                    url: '/ProjectManger/DeleteProject',
                    data: { Id: ProjectId, ProjectName: PName }
                    , success: function () {

                        window.location.href = '@Url.Action("AllProjectCreated","ProjectManger")'
                    }
                })
            })
        }
  });
</script>
<script>
    EditProject = function (id) {
        var ul = '/ProjectManger/ProjectEdit?ProjectId=' + id;
        $('#Edit').load(ul, function () {
            $('#EditModal').modal('show');
        })
    }
</script>

<script>
    $('#Serachajax').on('keyup', function () {
        var search = $(this).val();
        $.ajax({
            method: 'GET',
            url: '/ProjectManger/SearchProject',
            data: { Search: search },
            success: function (data) {
                $('tbody tr').each(function () {
                    $('#footerz').empty();
                    $(this).prop('hidden', true)
                })

                $.each(data, function (ind, vls) {
                    $('tbody tr').each(function () {
                        if (vls.projectId == $(this).attr('id')) {
                            $('#' + vls.projectId).prop('hidden', false)
                        }
                    })
                })
                if (data.length == 0) {
                    debugger
                    $('#footerz').empty();
                    $('#footerz').append('<div style="color:red" role="alert">No result are found</div >')
                }

                if ($('#Serachajax').val() == 0) {
                    $('#footerz').empty();
                    $('tbody tr').each(function () {
                        $(this).prop('hidden', false)
                    })

                }
            }

        })

    })
</script>