@using BusniessLayer.Entity
@{

}
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="AllTeamLeaderProjects"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a asp-action="AllTeamLeaderProjects">All Project</a></li>
                    <li class="breadcrumb-item"><a asp-action="SprintList">Prject Sprints</a></li>
                    <li class="breadcrumb-item"><a asp-action="SprintList">Project Duties</a></li>
                    <li class="breadcrumb-item"><a asp-action="SprintList">Work View</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <!-- [ sample-page ] start -->
    <div class="col-sm-12 col-sm-12">
        <div class="card">
            <div class="card-body">

                <div class="table-responsive">

                    <table class="table">

                        <thead>
                            <tr>
                                <th>
                                    Work Name
                                </th>
                                <th>
                                    State
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @{ foreach (var item in (List<Work>)ViewBag.WorkList)
                                {
                                    <tr id="@item.WorkId">
                                        <td>
                                            @item.WorkName
                                        </td>
                                        @{foreach (var State in (List<State>)ViewBag.States)
                                            {
                                                if (item.StateId == State.StateId)
                                                {
                                                    if (State.StateId == 1 || State.StateId == 2)
                                                    {
                                                        <td style="color:green">
                                                            @State.StateName
                                                        </td>
                                                    }
                                                    else if (State.StateId == 3)
                                                    {
                                                        <td style="color:orange">
                                                            @State.StateName
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td style="color:red">
                                                            @State.StateName
                                                        </td>
                                                    }
                                                }
                                            }
                                        }
                                        @{if (item.StateId == 3)
                                            {
                                                <td>
                                                    <a href="/TeamLeader/WorkAction?WorkId=@item.WorkId&DutyId=@item.DutyId" class="btn btn-success">View</a>
                                                    <a href="/TeamLeader/WorkHistory?WorkId=@item.WorkId&DutyId=@item.DutyId" class="btn btn-outline-info">History</a>

                                                </td>
                                            }
                                            else
                                            {
                                                <td>

                                                    <a href="/TeamLeader/WorkHistory?WorkId=@item.WorkId&DutyId=@item.DutyId" class="btn btn-outline-info">History</a>
                                                </td>
                                            } }


                                    </tr>
                                }

                            }

                        </tbody>
                        <tfoot>
                            <tr id="footerz">
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>
<script>
    $('#Serachajax').on('keyup', function () {
        var search = $(this).val();


        var url_String = window.location;
        var url = new URL(url_String);
        var Did = url.searchParams.get("DutyId");



        $.ajax({
            method: 'GET',
            url: '/Work/SearchForDutyWork',
            data: {
                Search: search,
                DutyId: Did
            },
            success: function (data) {
                $('tbody tr').each(function () {
                    $('#footerz').empty();
                    $(this).prop('hidden', true)
                })

                $.each(data, function (ind, vls) {
                    $('tbody tr').each(function () {
                        if (vls.workId == $(this).attr('id')) {
                            $('#' + $(this).attr('id')).prop('hidden', false)
                        }
                    })
                })
                if (data.length == 0) {

                    $('#footerz').empty();
                    $('#footerz').append('<div style="color:red" role="alert">No result are found</div >')
                }

                if ($('#Serachajax').val() == 0) {
                    $('#footerz').empty();
                    $('tbody tr').each(function () {
                        $(this).prop('hidden', false)
                    })

                }
            }

        })

    })
</script>
@if (TempData["Approved"] != null )
{
    <script>
        $(document).ready(function () {
            WorkMessageApprove("Work")

        })
    </script>
}
@if (TempData["Rejected"] != null)
{
    <script>

        $(document).ready(function () {
            WorkMessageRejected("Work");
        })
    </script>

}
